auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
site-lisp/slime/contrib/slime-js.el
*.elc
.DS_Store
.yas-compiled-snippets.el
.mc-lists.el
.cask
ac-comphist.dat